[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=mgl
WorkingDirectory=/home/mgl/sites/SITENAME/source
ExecStart=/home/mgl/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target